.countdown__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 80px;
}

.counter__child {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 40px 0 30px 0;
  padding: 30px;
  background: hsla(186, 33%, 94%, 1);

  background: linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1);
  color: #333;
  border-radius: 5px;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#40C9FF", endColorstr="#B941FF", GradientType=1);
}

.counter__child div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 20px 30px;
  border: 1px solid #333;
}

.countdown__form {
  margin-top: 20px;
}

.countdown__form div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.countdown__form input {
  width: 100%;
  padding: 12px;
  font-size: 13px;
  outline: none;
  resize: none;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.countdown__form button {
  background: #b941ff;
  display: inline-block;
  font-size: 15px;
  border-radius: 5px;
  padding: 11px 16px;
  color: #f8f9fa;
  transition: all ease-in-out 0.5s;
  width: 40%;
}

.countdown__form button:hover {
  transform: scale(0.95);
}

/* Countdown Media & Typography */
.countdown__container img {
  width: 13%;
}

.counter__child h2 {
  font-size: 30px;
}

.counter__child p {
  font-size: 20px;
}

.countdown__date {
  font-size: 26px;
  margin-bottom: 40px;
}

.counter__h2 {
  font-size: 22px;
  text-align: center;
}

.countdown__launch {
  font-weight: 600 !important;
  text-align: center !important;
  font-size: 28px !important;
}

.countdown__mailing h2 {
  font-size: 22px;
  font-weight: 500;
}

/* Countdown box styling */
.countdown__testing {
  margin: 40px 0 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown__testing--child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 40px;
}

.countdown__box {
  width: 25%;
  border-radius: 5px;
  transition: all ease-in-out 0.5s;

}

.countdown__box:hover {
  transform: scale(0.97);
}

.countdown__box a {
  display: flex;
  align-items: center;
  gap: 15px;
}

.countdown__box {
  padding: 20px 15px;
  background: hsla(197, 100%, 63%, 1);
  background: linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(278, 100%, 63%, 1) 68%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(278, 100%, 63%, 1) 68%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(278, 100%, 63%, 1) 68%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#B941FF", GradientType=1 );
}

/* Media Queries */
@media screen and (max-width: 700px) {
  .countdown__container {
    margin-top: 10px;
    padding: 30px 20px;
  }

  .counter__child {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 40px 0px 30px 0px;
    padding: 50px;
  }

  /* .counter__child div {
    padding: 20px 20px;

  } */

  .counter__child div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    /* border: none; */
  }

  .counter__child div h2 {
    font-size: 15px;
  }

  .countdown__form div {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .countdown__form input {
    margin-bottom: 20px;
  }

  .countdown__form button {
    font-size: 14px;
    width: 40%;
  }

  /* Countdown Media & Typography */
  .countdown__container img {
    width: 24%;
  }

  .counter__child h2 {
    font-size: 24px;
  }

  .counter__child p {
    font-size: 16px;
  }

  .countdown__mailing h2 {
    font-size: 17px;
    text-align: center;
  }

  .countdown__launch {
    font-size: 22px !important;
  }

  .counter__h2 {
    font-size: 18px;
    text-align: start;
  }

  .countdown__date {
    margin-bottom: 28px;
    font-size: 20px;
  }

  .countdown__testing {
    margin: 30px 0 40px 0;
  }

  .countdown__testing h2 {
    font-size: 18px;
  }
  
  .countdown__testing--child {
    display: block;
    gap: 50px;
    margin: 40px;
  }
  
  .countdown__box {
    width: 90%;
    margin-bottom: 20px;  
    padding: 10px 15px;
  }
  
  .countdown__box a {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 15px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  .countdown__container img {
    width: 15%;
  }

  .countdown__container {
    margin-top: 40px;
  }
}
